

<table class="table bg-mainsub2">
    <thead>
        <tr>
            <td>Follow Date</td>
            <td>Follow by</td>
            <td>Equipment In</td>
            <td>Follow up Notes</td>
        </tr>
    </thead>
    <tbody>
        {%if equipmentactivities | length > 1 %}


        {%for activity in equipmentactivities%}


        <tr>
            <td>{{activity.activity_date}}</td>
            <td>{{activity.user.staffname}}</td>
            {%if activity.place_of_maintaince =="L"%}
            <td>IT Workshop</td>
            {%else%}
            <td>{{activity.company_user.company_name_en}}</td>
            {%endif%}
            <td>{{activity.activity_desc}}</td>
        </tr>
        <tr>

            <!-- action shoud be taken to -->
            {% include 'htmlmodels/activityeq.html' %}

        </tr>
        <tr>
            <td>{{activity.equipmen_register.sn}}</td>
        </tr>
        {%endfor%}
        {%else%}
        {%with activity=equipmentactivities[0]%}
        <tr>
            <td>{{activity.activity_date}}</td>
            <td>{{activity.user.staffname}}</td>
            {%if activity.place_of_maintaince =="L"%}
            <td>IT Workshop</td>
            {%else%}
            <td>{{activity.company_user.company_name_en}}</td>

            {%endif%}
            <td>{{activity.activity_desc}}</td>
        </tr>
        <tr>
            {% if activity.maintaince_status == None %}
            <!-- action shoud be taken to -->
            {% include 'htmlmodels/activityaction.html' %}

            {% endif %}
        </tr>


        {%endwith%}
        {%endif%}
    </tbody>
</table>

