

{% extends "base.html" %}

{% block title %}
  <title>Manage Equipments Maintenence System </title>
{% endblock %}

{% block content %}
{% if equipmentactivities%}
<div style="height:50vh ; overflow: scroll;">
{% for activity in equipmentactivities %}

<table class="table table-border cell-border" style=" margin-bottom: 20px;">
    <thead>
    <tr>
        <th>Serial Number</th>
        <th>Activity Date</th>
        <th>Follow By</th>
        <th>Place OF Maintenence</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
        

    <tr >
        <td>{{activity.equipmen_register.sn}}</td>
        <td>{{activity.activity_date}}</td>
        <td > {{activity.user.staffname}}</td>
        {%if activity.place_of_maintaince =="L"%}
        <td> IT Workshop</td>
        {%else%}
        <td> {{activity.company_user.company_name_en}}
        </td> {%endif%}
       
        {% if activity.maintaince_status == None %}
                {% if activity.place_of_maintaince== "L" %}
                    {% if activity.activity_status== "WFR" %}
                    {% include 'htmlmodels/activityreturnbacktodept.html' %}
                <!-- action shoud be taken to -->
                    {%else%}
                    {% include 'htmlmodels/activityactionlocal.html' %}
                    {%endif%}
                
                
                {% else %}
                {% include 'htmlmodels/activityactionsend.html' %}
                {% endif %}
                {%endif%}
            



    </tr>
   
   
    </tbody>
    <tfoot>
        <tr>  
            <td colspan="5" ><span style="padding-right: 10px; background-color:var(--color-button);">Follow Up Note:</span> {{activity.activity_desc}}</td>
        </tr>
    </tfoot>
</table>
       
{%endfor%}
 

{%else%}
<div data-role="carousel"
   
     style="background-color:var(--color-button);"
  
>
    <div class="p-2 pl-10 pr-10">
        <div class="row flex-align-center h-100">
            
            <div class="cell-md-8">
                <h1 class="text-light">Equipment In Company</h1>
                <!-- <p class="mt-4 mb-4">No Equipment In Company..</p> -->
                <h2>No Equipment In Company</h2>
                <a class="button alert" href="{{ url_for('home')}}">Home</a>
            </div>
        </div>
    </div>
</div>
{%endif%}
</div>
{% endblock content %}