<!DOCTYPE html>
<html lang="en">
  <head>
        {%block header%}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">


   <link href="{{ url_for('static', path='/css/modal.css') }}" rel="stylesheet">
   <link href="{{ url_for('static', path='/css/spectre.min.css') }}" rel="stylesheet">
   <link href="{{ url_for('static', path='/css/spectre-exp.min.css') }}" rel="stylesheet">
   <link href="{{ url_for('static', path='/css/spectre-icons.min.css') }}" rel="stylesheet">
   <link href="{{ url_for('static', path='/metro4/css/metro-all.min.css') }}" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

     
   
       {% block title %}

    {% endblock %}
    {%endblock header%}
</head>

<body>
        {% include 'htmlmodels/nav.html' %}

        
        <div class="container " scripts="overflow: scroll;">
                
                {% block content %}
                {% endblock content %}
                <hr>
                {% block result %}
                {% endblock result %}
                <hr>
              
        </div>
        {% block footer %}
        <div class="bottom-nav pos-absolute">
                <footer >
                        <span >
                               SQHIT 
                        </span>
                </footer>
        </div>
       
        {% endblock footer %}
        <script src="{{ url_for('static', path='/metro4/js/metro.min.js')}}"></script>
        <script src="{{ url_for('static', path='my.js')}}"></script>
        {% block scripts %}
        {% endblock %}
</body>
</html>
