{% block content %}
 
<ul data-app-bar="true" data-role="materialtabs" >
    <li class="active"><a href="#local">Local Maintenance</a></li>
    <li><a href="#send">Send To Company</a></li>
    <li><a href="#waiting">Keep In Waiting List For Send </a></li>

</ul>

<div style="margin-top: 100px ;width: 100%">
    <div id="local">
        <form method="post" action="/locally">
            <div class="row">
                <input name="sn" value="{{sn}}" hidden>
                <div class="cell-md-12">
                    <p>Enter Your Notes :</p>
                    <textarea name="activity_desc" data-role="textarea"></textarea>
                </div>
                <button class="button info">
                   Save For Local Maintenance
                </button>
            </div>
        </form>
    </div>
    <div id="send">
        <form method="post" action="/sentequipmenttoecompany">
            <div class="row">
                <input name="sn" value="{{sn}}" hidden>
                <label for="cid"><b>Select Company User:</b></label>
             
                <select name="cid" data-role="select">
                    {% for cuser in companyuser%}
                    <option value="{{cuser.cid}}">{{cuser.staffname}}---{{cuser.company_name_en}}</option>

                    {% endfor %}
                </select>
            </div>
                <hr>
                <div class="row">
                <div class="cell-md-12">
                    <p>Enter Your Notes :</p>
                    <textarea name="activity_desc" data-role="textarea"></textarea>
                </div>
                <button class="button info">
                   Send To Company   </button>
                </div>
        </form>
    </div>
    <div id="waiting">
        <form method="post" action="/waiting">
            <div class="row">
                <input name="sn" value="{{sn}}" hidden>
                <div class="cell-md-12">
                    <p>Enter Your Notes :</p>
                    <textarea name="activity_desc" data-role="textarea"></textarea>
                </div>
                <button class="button info">
                    Keep in Waiting for Sending
                </button>
            </div>
        </form>
    </div>

</div>
{% endblock content %}