
{% block content %}
     <hr>
    <form method="post" action="/registerequipment" >
      <div class="form-group">
        <label for="workorderid"><b>Workorder ID:</b></label>
        <input type="text" placeholder="Enter Workorder ID" name="workorderid" required class="metro-input">
    </div>  
    <div class="form-group">
      <p>Problem Description</p>
      <textarea data-role="textarea" placeholder="Enter Problem Description" name="register_desc" minlength="5" required></textarea>
      <input type="text" name="register_by" value="{{user.staffno}}" hidden>
      <input type="text" name="sn" value="{{search}}" hidden>
    </div>
    <div class="form-group">
      <button class="button info" type="submit">Register</button>
    </div>
    </form>
  
    {% endblock content %}  
    