

{% block content %}
<hr>
<div>
    <div class="row">
      <div class="col-xs-12">
        <div class="table-responsive" data-pattern="priority-columns">
            <table summary="Take Desion " class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Register Date</td>
            <td>Register By</td>
            <td>Workorder Id</td>
        
       
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{equipmentregister.date_of_register}}</td>
            <td>{{equipmentregister.user.staffname}}</td>            
            <td>{{equipmentregister.workorderid}}</td>
            
        </tr>
    </tbody>
    <tfoot>
       
        <tr>
        
          <td colspan="5" class="text-left"><span class="bg-black fg-white">Problem Description:</span>{{equipmentregister.register_desc}} </td>
        </tr>
      </tfoot>
</table>
        </div>
      </div>
    </div>
</div>


{% endblock content %}  
    