

{% block content %}
<hr>
<table class="table bg-mainsub2">
    <thead>
        <tr>
            <td>Register Date</td>
            <td>Register By</td>
            <td>Workorder Id</td>
        
       
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{equipmentregister.date_of_register}}</td>
            <td>{{equipmentregister.user.staffname}}</td>            
            <td>{{equipmentregister.workorderid}}</td>
            
        </tr>
    </tbody>
    <tfoot>
       
        <tr>
        
          <td colspan="5" class="text-center"><span class="bg-black fg-white">Problem Description:</span>{{equipmentregister.register_desc}} </td>
        </tr>
      </tfoot>
</table>

{%  content %}  
    