

{% block content %}
<div class="container bg-mainsub2">
<h3>Equipment Details</h3>
<ul class="group-list horizontal">
    <li> {{equipment.sn}}</li>
    <li>  {{equipment.equipment_model.equipment_model}}</li>
    <li> {{equipment.equipment_model.manufacture.company_name}}</li>
    <li>  {{equipment.equipment_model.equipment_type.equipment_type}}</li>

           
          
        <li> 
            <span>
                {{equipment.locations.building}} ---
                {{equipment.locations.loc_name}}--
                {{equipment.locations.contact_number}}
            </span></li>   
          
              
    
        </ul>
    </div>
    <form action="/activityhistory?sn={{equipment.sn}}" method="post">
        <button class="button">
            <span class="icon mif-plus"></span>
            <span class="label">here</span>
          </button>
    </form>
   
{% endblock content %}  
    