

{% block content %}
<table class="table">
    <thead>
        <tr>
            <td>Register Date</td>
            <td>Register By</td>
            <td>Workorder Id</td>
        <td>Problem Description</td>
       
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{equipmentregister.date_of_register}}</td>
            <td>{{equipmentregister.user.staffname}}</td>            
            <td>{{equipmentregister.workorderid}}</td>
            <td>{{equipmentregister.register_desc}}</td>
        </tr>
    </tbody>
</table>

{% endblock content %}  
    