

{% block content %}
<div style="height:30vh ; overflow: scroll;">
    <div class="row">
      <div class="col-xs-12">
        <div class="table-responsive" data-pattern="priority-columns">
          <table summary="Take Desion " class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Serial Number</td>
            <td>Equipment Model</td>
            <td>Manufacturer</td>
            <td>Equipment Type</td>
            <td>Equipment Location</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{equipment.sn}}</td>
            <td>{{equipment.equipment_model.equipment_model}}</td>
            <td>{{equipment.equipment_model.manufacture.company_name}}</td>
            <td>{{equipment.equipment_model.equipment_type.equipment_type}}</td>
            <td>
                {{equipment.locations.building}} ---
                {{equipment.locations.loc_name}}--
                {{equipment.locations.contact_number}}


            </td>
        </tr>
    </tbody>
</table>
        </div>
      </div>
    </div>
</div>


{% endblock content %}  
    