

{% extends "base.html" %}

{% block title %}
  <title>Manage Equipments Maintenence System </title>
{% endblock %}

{% block content %}
 <!--  <div class="searchcontainer"> -->
    



  
    
    {% if msg %}
    <div class="badge bg-success text-wrap font-weight-bold" style="font-size: large;">
      {{msg}}
    </div>
    {% endif %}
  <!-- </div> -->
  {%if search%}
  <div class="container alert-successsqhit alertsqhit ">
  <form method="post" id="searchform" class="bg-mainsub2">
    
      <!-- <input type='text' name="search" id='search'  data-role="input" data-prepend="<span class='mif-user'></span>" placeholder="Enter the serial number" value="{{sn}}"> -->
      <!-- <input type='text' name="search" id='search'  data-role="input" data-prepend="<span class='mif-user'></span>" placeholder="Enter the serial number" value="{{sn}}"> -->
      <div class="border bd-cyan border-radius-4 w-100" >
        <input type="text" name="search" id='search' data-role="input" placeholder="Enter the serial number" value="{{sn}}" data-prepend="<span class='mif-search'></span>">
    </div>
   
   
  </form>
</div>
<hr>
  {%if equipment%}
{% include 'equipmentshownew.html' %}

          {%if equipmentregister%}
              
          {% include 'equipmentregistershow.html' %}
                  {%if equipmentactivities %}
                  {% include '/activityoperation/activityrender.html' %}
                  {%else%}
                  {% include 'createactivityequipment.html' %}
                  {%endif%}
                  

          {%else%}
          <hr>
          {% include 'createregisterequipment.html' %}
          {%endif%}
{%else%}
{% include 'createequipment.html' %}


{%endif%}
{%else%}

<div class="container alert-successsqhit alertsqhit">
  <form method="post" id="searchform"  class="bg-mainsub2">
    
      <!-- <input type='text' name="search" id='search'  data-role="input" data-prepend="<span class='mif-user'></span>" placeholder="Enter the serial number" value="{{sn}}"> -->
      <!-- <input type='text' name="search" id='search'  data-role="input" data-prepend="<span class='mif-user'></span>" placeholder="Enter the serial number" value="{{sn}}"> -->
      <div class="border bd-cyan border-radius-4 w-100" >
        <input type="text" name="search" id='search' data-role="input" placeholder="Enter the serial number"  data-prepend="<span class='mif-search'></span>">
    </div>
   
   
  </form>
  <hr>
</div>

{%endif%}

  {% endblock %}





 
