{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="text-danger font-weight-bold">
          {% for error in errors %}
            <li>{{error}}</li>
          {% endfor %}
      </div>
      <div class="remark warning">
        {% if msg %}
          <li>{{msg}}</li>
        {% endif %}
    </div>
      
      <h2 class="span1">add Equipment Model</h2>
      <hr>
      <form  action="/createequipmentmain"  method="post">
        <input type="text" name="sn" value="{{search}}" hidden>
        <div class="form-group ">
       <label for="eid">Select Equipment Type:</label>
        <select  name="eid" data-role="select" class="metro-input success">
            {% for etype in equipmenttypenew%}
                <option value="{{etype.eid}}">{{etype.equipment_type}}</option>
   
            {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="mid">Select Manufacture:</label>
        <select name="mid" data-role="select" class="metro-input success">
          {% for man in manuf%}
              <option value="{{man.mid}}">{{man.company_name}}</option>
  
          {% endfor %}
      </select>
      </div>
   


      <button class="button " type="submit">Add Equipment</button>
    </form>
    </div>



  
   

{% endblock %}
