/*html, body {
  height:100%;
  background-color: #666699;
}

.well {
  background-color: #ffffee
}*/

#content {
  padding-bottom: 20px;  
}

.search-form {
  border-radius: 30px 0 0 30px;
}

.input-group {
  width:50%;
  border: 1px;
   margin-right: auto;
  margin-left: auto;
}

.input-group-btn {
  max-width:100%;
}
.search-form{

            display: block;
            margin-left: auto;
            margin-right: auto;
            padding: 10px ;
            /*background-image: url('searchicon.png');
            background-size: 40px;
            background-position: 1px 1px;
            background-repeat: no-repeat;*/
            width: 550px;

            border-radius: 50px;
            height: 60px;

text-align: center;
            /*border: 1px solid #dddddd;*/

          border: 1px solid hsl(12, 88%, 59%);
            outline: none;

            background-color: white;
            padding-left: 40px;
            padding-top: auto;
            padding-bottom: auto;

}

::placeholder {
  font-size: 3rem;
  color: hsl(12, 88%, 59%);
    text-align: center;

  /*background: thistle;*/
  /*border: 1px solid #dddddd;
  border-radius: 50px;*/

}

#search {

  width: 100%;
}
.form-control:focus {
 /* border-color: hsl(var(--input-focus-h), var(--input-focus-s), var(--input-focus-l));
*/
   font-size: 4rem;
  color: hsl(12, 88%, 59%);
  /*background: thistle;*/
  text-align: center;
  border: 1px solid hsl(12, 88%, 59%);
  border-radius: 50px;


}

.search-btn {
  cursor:pointer;
  border-radius: 0 30px 30px 0; 
  /*background-color:red;*/
  color:#669;
  
}

/* this table show data  css */

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  /* max-width: 800px; */
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #FFED86;
  font-size: 16px;
}
table tbody tr {
  height: 48px;
  border-bottom: 1px solid #E3F1D5;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}
@media screen and (max-width: 35.5em) {
  table {
    display: block;
  }
  table > *, table tr, table td, table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 8px 0;
  }
  table tbody tr td {
    padding-left: 45%;
    margin-bottom: 12px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    position: absolute;
    font-weight: 700;
    width: 40%;
    left: 10px;
    top: 0;
  }
  table tbody tr td:nth-child(1):before {
    content: "Code";
  }
  table tbody tr td:nth-child(2):before {
    content: "Stock";
  }
  table tbody tr td:nth-child(3):before {
    content: "Cap";
  }
  table tbody tr td:nth-child(4):before {
    content: "Inch";
  }
  table tbody tr td:nth-child(5):before {
    content: "Box Type";
  }
}
/* body {
  background: #9BC86A;
  font: 400 14px 'Calibri', 'Arial';
  padding: 20px;
} */
blockquote {
  color: rgb(225, 124, 42);
  text-align: center;
}



