

{% extends "base.html" %}


{% block content %}
{%if   Equipmentregisteryh is defined and Equipmentregisteryh|length > 0%}

{%for register in Equipmentregisteryh %}
<div style="border: 5px solid rgb(110, 111, 112);">
<ul class="activityhregister"> <li class="registerli" ><span> Serial Number:{{register.sn}}</span> <span> Register By :{{register.user.staffname}}</span> <span>Register Date {{register.date_of_register}}</span></li>
  <li class="noteli">Register Note:{{register.register_desc}}</li>
 
</ul>

<div style="height:30vh ; overflow: scroll;">
    <div class="row " >
      <div class="col-xs-12">
        <div class="table-responsive " data-pattern="priority-columns">
          {% for activity in equipmentah(registerid=register.registerid)%}
          <table summary="This table shows how to create responsive tables using RWD-Table-Patterns' functionality" class="table table-bordered table-hover">
            <caption>                                
                             
            </caption>
                  
            <tbody>
          {%if activity.activity_status=='UPL'%}
          {% include 'htmlmodels/uplshow.html' %}
          {%elif activity.activity_status=='UPS'%}
          {% include 'htmlmodels/upsshow.html' %}
          {%elif activity.activity_status=='WFD'%}

          {% include 'htmlmodels/wfdshow.html' %}
          {%if activity.date_of_returnback %}
          {% include 'htmlmodels/wfrshow.html' %}
              {%endif%}
          {%elif activity.activity_status=='WFS'%}
          {% include 'htmlmodels/wfsshow.html' %}
          {%else%}
          {% include 'htmlmodels/wfrshow.html' %}
          {%endif%}
        </tbody>
  
      </table>
          {%endfor%}
        </div>
      </div>
    </div>
  </div>
</div>
  {%endfor%}
  
<a class="button alert" href="{{ url_for('home')}}">Home</a>
{%else%}
<hr>
<div data-role="carousel">
    <div class="p-2 pl-10 pr-10">
       
        <div class="row flex-align-center h-100 span1" >
            <p style="margin: 10% auto;">Equipment With this  <span style="background-color: brown; margin: auto 0;" >SN:{{sn}}</span>  dosnot Have any Maintenence Record</p>
        </div>
    </div>
</div>
<hr>
<a class="button alert" href="{{ url_for('home')}}">Home</a>


{%endif%}

{% endblock content %}