     <td>
        <div class="box">
          <a class="buttonmodal" href="#popup1{{activity.activityid}}">Take Action</a>
        </div>
        
        <div id="popup1{{activity.activityid}}" class="overlay">
          <div class="popup">
            <h2> Return Equipement</h2>
            <a class="close" href="#">&times;</a>
            <div class="content">
              <div class="interior">
                <form action="/returntodepartment?activityid={{activity.activityid}}" method="post">
                 <P>Do you want to Return this Equipment To  Depatment</P>
                  
                     
                  <button type="submit">Yes</button>
                </div>
                         
                                
               
                </form>
               
              </div>
            </div>
          </div>
        </div>
       
          </td>
      
