

{% extends "base.html" %}

{% block title %}
  <title>Login</title>
{% endblock %}

{% block content %}
<div data-role="carousel"
   
     style="background-color:var(--color-button);overflow:scroll ; height: 70vh;"
  
>
    <div class="p-2 pl-10 pr-10">
        <div class="row flex-align-center h-100" >
            
            <div class="cell-md-8">
                <h1 class="text-light">Equipment History</h1>
                <!-- <p class="mt-4 mb-4">No Equipment In Company..</p> -->
                {%for activity1 in equipmentactivitieshistory %}
                {%     if loop.first %}
                <span class="span1">Serial Number:{{activity1[0].equipmen_register.sn}}</span>
                <hr>

                {% endif %}
                {%for activity in activity1%}
               
                {%- if loop.first -%}

                <span class="span1">
                   <span>date Of Register:</span> {{activity.equipmen_register.date_of_register}}
                   <span>Register Problem:</span> {{activity.equipmen_register.register_desc}}
                   <span>Register By:</span> {{activity.equipmen_register.user.staffname}}
                </span>
                    {%- endif -%}
                 {%if activity.activity_status=="UPL"%}
                </span>
                 <h4>Date Of Maintenence:{{activity.activity_date}}- {{activity.activity_desc}}--<span>Maintenence in IT Workshop-</span> 
                    {% if activity.maintaince_status=="RR"%}<span>Repaired</span> {%else%} <span>Not Repaired</span>{%endif%} <span>Date of Maintenence:{{activity.date_of_maintaince}}</span></h4>
                    
                    {%elif activity.activity_status=="UPS"%}
                    <h4>Date Of Maintenence:{{activity.activity_date}}- {{activity.activity_desc}}--<span>Maintenence in :{{activity.company_user.company_name_en}}</span> --<span>Date of Recieve:{{activity.date_of_recievefrom}}</span> 
                    {%if activity.maintaince_status=="RR"%}
                    <h4><span>Repaired</span> {%else%} <span>Not Repaired</span>{%endif%} <span>Date of Maintenence:{{activity.date_of_maintaince}}</span></h4>
                    {%elif activity.activity_status=="WFR"%}
                    <h4>Return BY :{{activity.user.staffname}}----DATE of Return To Department :{{activity.date_of_returnback}}</h4>
                    {%elif activity.activity_status=="WFD"%}
                    <h4>Waiting For Desion on :{{activity.activity_date}}</h4>
                    {%else%}
                    <h4>and .....</h4>

                 {%endif%}
                    {%endfor%}
            <hr>
             {%endfor%}
                
              
            </div>
        </div>
    </div>
</div>
<a class="button alert" href="{{ url_for('home')}}">Home</a>

{% endblock content %}