{% extends "base.html" %}
{% block content %}
<div id="changepassword" class="overlay1 " >
    <div class="popup ">
      <h2> Change Password</h2>
      <a style="padding-bottom: 10px;" class="close" href="#">&times;</a>
      <hr>
      <div class="content alert-successsqhit">
        <div class="interior alert-successsqhit">
    <form action="/changepassword?staffno={{user.staffno}}" method="post">
        
          <label for="currentpassword">Current password</label>
            <input type="password" name="currentpassword" class="metro-input" required>
            <hr>
          <label for="newpassword">New Password</label>
            <input type="password" name="newpassword" class="metro-input" required>
            
            
           
            <button class="button info">
              Change Password
            </button>
       
    </form>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}