<div id="recievefromcompany" class="overlay ">
    <div class="popup ">
      <h2> Recieve Equipement</h2>
      <a class="close" href="#">&times;</a>
      <hr>
      <div class="content">
        <div class="interior ">
          <form action="/actionstatusnew?activityid={{activity.activityid}}" method="post" >
           
              <div class="form-group">
              <label>maintaince_status</label>
              <select data-role="select" name="maintaince_status">
                <option value="RR" selected class="fg-cyan">Repaired</option>
                <option value="NR"  class="text-bold fg-red">Not Repaired</option>
              </select>
              </div>
              <div class="form-group">
              <label>recieve_note</label>
              <textarea name="recieve_note"  data-role="textarea" required></textarea>
  
          </div>
            <div class="form-group">
              <label>bill id</label>
              <input type="text" name="billid" value="0" class="metro-input" autocomplete="off">
          </div>
          
            <div class="form-group">
              <label>Bill Amount</label>
              <input type="text" name="billamount" value="0.0" class="metro-input" autocomplete="off" >
          </div>
          
         
            <div class="form-group">
               
            <button type="submit">Save</button>
          </div>
                   
                          
         
          </form>
         
        </div>
      </div>
    </div>
  </div>

  <div id="locally" class="overlay">
    <div class="popup ">
      <h2>Maintenence Status</h2>
      <a class="close" href="#">&times;</a>
      <hr>
      <div class="content alert-successsqhit">
        <div class="interior alert-successsqhit">
          <form action="/actionstatusnew?activityid={{activity.activityid}}" method="post" class="alert-successsqhit">
            <!-- <input type="text" name="activityid"  value="{{activity.activityid}}" class="metro-input"> -->
            <label>maintaince_status</label>
              <select data-role="select" name="maintaince_status">
                <option value="RR" selected class="fg-cyan">Repaired</option>
                <option value="NR"  class="text-bold fg-red">Not Repaired</option>
                
            </select>
            <input name="check" value="local" hidden>
              <label>recieve_note</label>
              <textarea name="recieve_note"  data-role="textarea" required></textarea>
             
              <!-- <a class="btnmodal" href="{{ url_for('takeactionone') }}">Take Action</a> -->
              <button type="submit">Save</button>
          </form>
         
        </div>
      </div>
    </div>
  </div>


          
  <div id="returnbackto" class="overlay">
    <div class="popup">
      <h2> Return Equipement</h2>
      <a class="close" href="#">&times;</a>
      <hr>
      <div class="content alert-successsqhit">
        <div class="interior alert-successsqhit">
          <form action="/returntodepartment?activityid={{activity.activityid}}" method="post">
           <P>Do you want to Return this Equipment To  Depatment</P>
            
               
            <button type="submit">Yes</button>
          </div>
                   
                          
         
          </form>
         
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    
    <div id="Workshop" class="overlay">
        <div class="popup">
        
          <h2> Maintenance  Equipement In IT</h2>
          <a class="close" href="#">&times;</a>
          <hr>
          <div class="content alert-successsqhit">
            <div class="interior alert-successsqhit">
        <form method="post" action="/locally">
            <div class="row alert-successsqhit">
                <input name="sn" value="{{sn}}" hidden>
                <input name="check" value="workshop" hidden>
                <div class="cell-md-12">
                    <p>Enter Your Notes :</p>
                    <textarea name="activity_desc" data-role="textarea" required></textarea>
                </div>
                <button class="button info">
                   Save For Local Maintenance
                </button>
            </div>
        </form>
            </div>
          </div>
        </div>
        
       </div>
    
    </div>
  

    



    <div id="send" class="overlay ">
      <div class="popup ">
        <h2> Send new Equipement</h2>
        <a style="padding-bottom: 10px;" class="close" href="#">&times;</a>
        <hr>
        <div class="content alert-successsqhit">
          <div class="interior alert-successsqhit">
      <form action="/sentequipmenttoecompany" method="post">
          <div class="row alert-successsqhit">
              <input name="sn" value="{{activity.equipmen_register.sn}}" hidden>
              
              <label for="model"><b>Select Company User:</b></label>
              <select name="cid" data-role="select">
                  {% for cuser in companyuser%}
                  <option value="{{cuser.cid}}">{{cuser.staffname}}---{{cuser.company_name_en}}</option>

                  {% endfor %}
              </select>
              <hr>
              <div class="cell-md-12">
                  <p>Enter Your Notes :</p>
                  <textarea name="activity_desc" data-role="textarea" required> </textarea>
              </div>
              <button class="button info">
                 Send To Company
              </button>
          </div>
      </form>
          </div>
        </div>
      </div>
  </div>