<div id="recievefromcompany" class="overlay">
    <div class="popup">
      <h2> Recieve Equipement</h2>
      <a class="close" href="#">&times;</a>
      <div class="content">
        <div class="interior">
          <form action="/actionstatusnew?activityid={{activity.activityid}}" method="post">
           
              <div class="form-group">
              <label>maintaince_status</label>
              <select data-role="select" name="maintaince_status">
                <option value="RR" selected class="fg-cyan">Repaired</option>
                <option value="NR"  class="text-bold fg-red">Not Repaired</option>
              </select>
              </div>
              <div class="form-group">
              <label>recieve_note</label>
              <textarea name="recieve_note"  data-role="textarea"></textarea>
  
          </div>
            <div class="form-group">
              <label>bill id</label>
              <input type="text" name="billid" class="metro-input" autocomplete="off">
          </div>
          
            <div class="form-group">
              <label>Bill Amount</label>
              <input type="text" name="billamount" class="metro-input" autocomplete="off" >
          </div>
          
         
            <div class="form-group">
               
            <button type="submit">Save</button>
          </div>
                   
                          
         
          </form>
         
        </div>
      </div>
    </div>
  </div>

  <div id="locally" class="overlay">
    <div class="popup">
      <h2>Maintenence Status</h2>
      <a class="close" href="#">&times;</a>
      <div class="content">
        <div class="interior">
          <form action="/actionstatusnew?activityid={{activity.activityid}}" method="post">
            <!-- <input type="text" name="activityid"  value="{{activity.activityid}}" class="metro-input"> -->
            <label>maintaince_status</label>
              <select data-role="select" name="maintaince_status">
                <option value="RR" selected class="fg-cyan">Repaired</option>
                <option value="NR"  class="text-bold fg-red">Not Repaired</option>
                
            </select>
              <label>recieve_note</label>
              <textarea name="recieve_note"  data-role="textarea"></textarea>
             
              <!-- <a class="btnmodal" href="{{ url_for('takeactionone') }}">Take Action</a> -->
              <button type="submit">Save</button>
          </form>
         
        </div>
      </div>
    </div>
  </div>


          
  <div id="returnbackto" class="overlay">
    <div class="popup">
      <h2> Return Equipement</h2>
      <a class="close" href="#">&times;</a>
      <div class="content">
        <div class="interior">
          <form action="/returntodepartment?activityid={{activity.activityid}}" method="post">
           <P>Do you want to Return this Equipment To  Depatment</P>
            
               
            <button type="submit">Yes</button>
          </div>
                   
                          
         
          </form>
         
        </div>
      </div>
    </div>
  </div>

  <div style="margin-top: 112px ;width: 100%">
    <div id="locally" class="overlay">
        <form method="post" action="/locally">
            <div class="row">
                <input name="sn" value="{{sn}}" hidden>
                <div class="cell-md-12">
                    <p>Enter Your Notes :</p>
                    <textarea name="activity_desc" data-role="textarea"></textarea>
                </div>
                <button class="button">
                    <span class="icon mif-plus"></span>
                    <span class="label">Save For Local Maintenance</span>
                </button>
            </div>
        </form>
    </div>

