{%block nav%}


<nav>
  <a class="links" href="#">HOME</a>
  <a class="links" href="#">EMPLOYEES</a>
  <a class="links" href="#">CAREER</a>
  <div class="dropdown-menu">
  <button class="menu-btn">User Details</button>
  <div class="menu-content">
    {%if user%}

    <li>Staff No:{{user.staffno}}</li>
    <li>Staff Name :{{user.staffname}}</li>
    <li><button class="logout "><a href="{{ url_for('logout') }}">LogOut</a></button></li>


    {%else%}

    <li><a class="button  danger" href="{{ url_for('signup')}}">signup</a></li>


    {%endif%}
  </div>
  </div>
  </nav>
{%endblock nav%}

<!-- {%if user%}

      <li>Staff No:{{user.staffno}}</li>
      <li>Staff Name :{{user.staffname}}</li>
      <li><button class="logout "><a href="{{ url_for('logout') }}">LogOut</a></button></li>


      {%else%}

      <li>Login Frist</li>


      {%endif%} -->