<header class="site-header">
  <div class="site-header__top">
    <div class="wrapper site-header__wrapper">
 
      <div class="site-header__middle">
        <a href="#" class="brand">SQH information Technology </a>
        <a class="button alert" href="{{ url_for('home')}}">Home</a>
      </div>
      {%if user%}
      <div class="site-header__end top">
     
        <ul class="span1">
          <li >User Details</li>
          <li >StaffNo:{{user.staffno}}</li>
          <li >Staff Name :{{user.staffname}}</li>
          <li><a class="button bg-red fg-white"  href="{{ url_for('logout') }}">LogOut</a></li>
          <li> 
            <a class="button warning" href="#changepassword">change password</a>
           
           </li>
        </ul>
      </div>
      
      {%else%}
      <div class="site-header__end top">
      
        <ul class="remark primary">
          <li class="span1">Login in </li>
        </ul>
      </div>
   
      {%endif%}
    </div>
      
    </div>
  </div>
  <div class="site-header__bottom">
    <div class="wrapper site-header__wrapper">
      <div class="site-header__start">
        <nav class="nav">
          <button class="nav__toggle" aria-expanded="false" type="button">
            menu
          </button>
          <ul class="nav__wrapper">
            <li class="nav__item "><a class="button info text-bold va-middle "  href="{{ url_for('equipmentincompany') }}">Equipments In Company</a></li>
            <li class="nav__item"><a  class="button info" href="{{ url_for('equipmentinlocal') }}">Equipments In IT WorkShop</a></li>
            <li class="nav__item"><a  class="button info" href="{{ url_for('equipmentwaitingforsend') }}">Equipments Waiting For Send</a></li>
            <li class="nav__item"><a  class="button info" href="{{ url_for('equipmentwaitingfordecision') }}">Equipments Waiting For Decision</a></li>
            <li class="nav__item"><a  class="button info" href="{{ url_for('equipmentwaitingforreturn') }}">Equipments Waiting For ReturnBack</a></li>
            {%if user.admin_role==1%}
            <li class="nav__item"><a class="button yellow" href="{{ url_for('signup')}}">add New User</a></li>
            {%endif%}
          </ul>
        </nav>
      </div>

      <div class="site-header__end bottom">
        <div class="search">
          <button class="search__toggle" aria-label="Open search">
            Search
          </button>
          <form class="search__form" action="">
            <label class="sr-only" for="search">Search</label>
            <input
              type="search"
              name=""
              id="search"
              placeholder="What's on your mind?"
            />
          </form>
        </div>
        
       
      </div>
    </div>
  </div>
</header>



<div id="changepassword" class="overlay ">
  <div class="popup ">
    <h2> Change Password</h2>
    <a style="padding-bottom: 10px;" class="close" href="#">&times;</a>
    <hr>
    <div class="content alert-successsqhit">
      <div class="interior alert-successsqhit">
  <form action="/changepassword?staffno={{user.staffno}}" method="post">
      
        <label for="currentpassword">Current password</label>
          <input type="password" name="currentpassword" class="metro-input" required>
          <hr>
        <label for="newpassword">New Password</label>
          <input type="password" name="newpassword" class="metro-input" required>
          
          
         
          <button class="button info">
            Change Password
          </button>
     
  </form>
      </div>
      <div class="text-danger font-weight-bold ">
        
          <p class="remark warning">{{error}}</p>
       
    </div>
    </div>
  </div>
</div>





