<div>
    {%for eincompany in eincompanies%}
    <table cellspacing="0" cellpadding="0">
        <thead>
            <th>Equipment In Company</th>
        </thead>
        <tbody>
           
             <tr>
                <td>{{eincompany.sn}}</td> <td>{{eincompany.date_of_send}}</td>
                <td>{{eincompany.company_name}}</td><td>{{eincompany.register_by}}</td>
                <td><a href="{{url_for('/returnfromcompany')}}">Recieve</a></td>
            </tr>

           
        </tbody>
        <tfoot>
            <tr>  
                
            </tr>
        </tfoot>
    </table>
    {% endfor %}
</div>