
      <tr>
        <td colspan="5" class="text-left activityh " ><span class="label">Sent To Company On:</span> {{activity.activity_date}} <span class="label">By :</span>{{activity.user.staffname}} <span class="label ">{{statust(activity)}}  {{activity.company_user.company_name_en}} </span> </td>
        </tr>
      <tr>
        <td colspan="5" class="text-left activityh"> 
          <span class="label">Activity Note:</span>{{activity.activity_desc}}   
        </td>
        </tr>
    
      <tr>
        <td colspan="5" class="activityh text-left">
          <span class="label"> Recieved From Company :</span>{{activity.recieve_date}}  <span class="label">By :</span>{{get_user(activity.recieve_by).staffname }}<span class="label"> Maintenence status:</span>{%if activity.maintaince_status=='RR'%}Repaired{%else%}Not Repaired{%endif%}   <span class="label">Maintenance Note:</span>{{activity.recieve_note}}  </td></tr>
   