
              
<div style="width: 50%;">
<label for="myInput" style="font-size: large;">Search</label>
<input id='myInput' onkeyup='searchTable()' type='text' name="myInput" class="metro-input">
</div>
<hr>
<div>
  
    {%if equipmentactivities%}
    <div class="cardscontainer">    
    {%for  activity in equipmentactivities%}
    {%if activity.next_activity=="T"%}
          {%if activity.activity_status=="UPL"%}

          {% include "/activityoperation/uplo.html"%}
          {%elif activity.activity_status=="UPS"%}
          {% include "/activityoperation/upso.html"%}
          {%elif activity.activity_status=="WFS"%}
          {% include "/activityoperation/wfso.html"%}
          {%elif activity.activity_status=="WFD"%}
          {% include "/activityoperation/wfdo.html"%}
          {%elif activity.activity_status=="WFR"%}
          {% include "/activityoperation/wfro.html"%}

          {%endif%}
          {% include 'htmlmodels/crudpop.html' %}
          {%else%}
          {% include "activitydone.html"%}
          {%endif%}
    
          
     
    {%endfor%}
  </div>  
</div>

      {%else%}

      <p>No Equipment </p>
      {%endif%}

      

      




 