
              
<div >
      <label for="myInput" style="font-size: large;">Search</label>
      <input id='searchbox' onkeyup='searchTable()' type='text' name="myInput" class="metro-input">
      </div>
      <hr>
      
        
          {%if equipmentactivities%}
          <div id="myDivId" class="cardscontainer">   
          {%for  activity in equipmentactivities%} 
              
                {% include "/activityoperation/wfso.html"%}
                         
          {%endfor%}
          </div>
      
            {%else%}
            <div class="header">
                  <h1>No Equipments  In Waiting For  Send  </h1>
            </div>
            {%endif%}
      

      




 