
            <tr class="span1">
              <td>{{activity.activity_date}}</td>
              <td>{{activity.user.staffname}}</td>
              <td>{%if activity.place_of_maintaince=='L'%}IT Workshop{%else%}{{activity.company_user.company_name_en}}{%endif%}</td>
            </tr>
            <tr>
              <td colspan="5" class="span1 "><span >Serial Number: <span class="activitysn">{{activity.equipmen_register.sn}}</span></span>  <span class="span1"></span><span>Follow By Notes:{{activity.activity_desc}} </span></td>
            </tr>
            <tr>
              <td colspan="5" class="text-center">
                
                  {%for value , key in activityaction(activity).items()%}
                  <a class="buttonmodal btn" href="#{{key}}">{{value}}</a>
                  {%endfor%}
             
               
                
             </td>  
            
             
            </tr>
          
                
           
        
          