<span class="cardequipmentshow">
  <span class="card-label">Serial Number :{{activity.equipmen_register.sn}}</span>
  <p c>Date Of Send : {{activity.activity_date}} </p>
<div class="cardcompanydetails">
  <p >company:{{activity.company_user.company_name_en}} </p>
  <p >company User:{{activity.company_user.staffname}}  </p>
  <p >contact Number:{{activity.company_user.contactnumber}}  </p>
</div>
<hr>
<div class="cardcompanydetails">
  <p class="equipmentlocation">Equipment Location Details:</p>
  <p>Building:{{activity.equipmen_register.equipments.locations.building}} </p>
  <p> Location: {{activity.equipmen_register.equipments.locations.loc_name}}  </p>
</div>
  <p > Notes:{{activity.activity_desc}}</p>
  <a class="button info" href="{{ url_for('home')}}?sn={{activity.equipmen_register.sn}}">Take Action</a>
</span>



  