
            <tr>
              <td>{{activity.equipmen_register.sn}}</td>
              <td>{{activity.activity_date}}</td>
              <td>{{activity.user.staffname}}</td>
              <td>{%if activity.place_of_maintaince=='L'%}IT Workshop{%else%}{{activity.company_user.company_name_en}}{%endif%}</td>
              <td >{{activity.activity_desc}} </td>
              <td >{{activity.equipmen_register.equipments.locations.loc_name}} </td>
              <td >{{activity.equipmen_register.equipments.locations.building}} </td>
             
                
        
                {%for value , key in activityaction(activity).items()%}
                <td >
                <a class="button info" href="{{ url_for('home')}}?sn={{activity.equipmen_register.sn}}">{{value}}</a>
              </td>
                {%endfor%}
           
             
              
          
            </tr>
   



