<div style="height:30vh ; overflow: scroll;">
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive" data-pattern="priority-columns">
        <table summary="Take Desion " class="table table-bordered table-hover">
          <caption class="text-center">Equipment Waiting For Send To Company</caption>
          
          <thead>
            <tr>
              <th>Activity Date</th>
              <th data-priority="1">Follow By</th>
              <th data-priority="2">Maintenence Place</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{activity.activity_date}}</td>
              <td>{{activity.user.staffname}}</td>
              <td>{{activity.place_of_maintaince}}</td>
            </tr>
            <tr>
              <td colspan="5" class="text-center"><span>Follow By Notes:</span>{{activity.activity_desc}} </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="5" class="text-center">
                
                <div class="box">
                  {%for value , key in activityaction(activity).items()%}
                  <a class="buttonmodal btn" href="#{{key}}">{{value}}</a>
                  {%endfor%}
                </div> 
               
                
             </td>  
             
            </tr>
          </tfoot>
        </table>
      </div><!--end of .table-responsive-->
    </div>
  </div>
</div>



{% include 'htmlmodels/crudpop.html' %}